---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Expirence from "@/components/sections/Expirence.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import json from "@/cv-en";
const { name, label } = json.basics;
---

<Layout title={`${name} Portfolio - ${label}`}>
  <main>
    <Hero json={json} />
    <About title="About me" summary={json.basics.summary} />
    <Expirence title="Expirence" work={json.work} lang="en" />
    <Projects title="Projects" projects={json.projects} />
    <Education title="Education" education={json.education} />
    <Skills title="Skills" skills={json.skills} />
  </main>

  <KeyboardManager />
</Layout>
