---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Expirence from "@/components/sections/Expirence.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Header from "@/components/Header.astro";

import json from "@/cv";
const { name, label } = json.basics;
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <Header title="Versión en Inglés" route="/en" />
    <Hero json={json} />
    <About title="Sobre mí" summary={json.basics.summary} />
    <Expirence title="Experiencia" work={json.work} lang="es" />
    <Projects title="Proyectos" projects={json.projects} />
    <Education title="Educación" education={json.education} />
    <Skills title="Tecnologías" skills={json.skills} />
  </main>

  <KeyboardManager />
</Layout>
